@font-face {
    font-family: "Unbounded";
    src: url("../../Assets/Fonts/Unbounded-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Unbounded";
    src: url("../../Assets/Fonts/Unbounded-Regular.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Unbounded";
    src: url("../../Assets/Fonts/Unbounded-Regular.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }