@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.background {
  width: 100%;
  height: 35.1rem;
  @include tablet {
    width: 100%;
    height: auto;
  }
  @include desktop {
    width: 100%;
    height: auto;
  }
}
.productcards {
  &__container-title {
    color: whitesmoke;
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
  }
  &__container-content {
    width: 100%;
  }
  &__container-pro {
    display: flex;
  }
  &__container-left {
    margin: auto;
    display: block;
  }
  &__container-right {
    margin: auto;
    display: block;
  }
  &__container-left-refresh {
    background-color: #383838;
    border-radius: 20px;
    width: 10rem;
    height: 2.3rem;
    color: #ef6817;
    border-color: #ef6817;
  }
  // &__container-right-upload {
  //   background-color: #383838;
  //   border-radius: 20px;
  //   width: 6rem;
  //   height: 2.3rem;
  //   color: #ef6817;
  //   border-color: #ef6817;
  // }
}

  .profesional-pic {
    &__left {
      width: 70%;
      border-radius: 5px;
      border: 2px solid #ef6817
    }
    &__right {
      width: 60%;
      // height: 53vh;
      border-radius: 5px;
      border: 2px solid #ef6817

    }
  }
  .main-body {
    background-image: url("../../Assets/Logos/capstone-bg.avif");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title-pro, .title-begginer {
    margin-top: 0;
    // font-family: "Dancing-Script";
  }
 

  .productcards__container-left-refresh:hover {
    text-decoration: underline;
    color: #21201f;
    background-color: #ef6817;
    cursor: pointer;
  }
  
  .like-button__left {
    margin: auto;
  }
  .like-button__right {
    margin: auto;
  }

  .lower__section-links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
  }