@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;

.header-section {
  &__title {
    font-family: "Dancing-Script";
    color: #ef6817;
    padding-left: 1rem;
    font-size: 2rem;
    @include tablet {
        font-size: 4rem;
    }
    @include desktop {
        font-size: 5rem;
    }
  }
  &__container {
    background-color: #21201f;
    border-bottom: 3px solid white;
  }
  &__container-btn {
    display: flex;
    max-width: 100%;
    height: 5rem;
    justify-content: space-evenly;
  }
  &__container-left {
    padding-top: 1rem;
  }
  &__container-centre {
    padding-top: 1rem;
  }
  &__container-right {
    padding-top: 1rem;
  }
  .login-btn,
  .sign-up-btn,
  .camera-store-btn {
    background-color: #383838;
    border-radius: 20px;
    width: 6rem;
    height: 2.3rem;
    color: #ef6817;
    border-color: #ef6817;
    @include tablet {
      width: 10rem;
      font-size:1.1rem ;
    }
    @include desktop {
        width: 20rem;
        height: 3rem;
        font-size: 1.5rem;
    }
  }

  h1 {
    margin-bottom: 0;
    margin-top: 0rem;
  }
}
.login-btn:hover {
    text-decoration: underline;
    color: #21201f;
    background-color: #ef6817;
 }
 .sign-up-btn:hover {
    text-decoration: underline;
    color: #21201f;
    background-color: #ef6817;
 }
 .camera-store-btn:hover {
    text-decoration: underline;
    color: #21201f;
    background-color: #ef6817;
 }
