@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/fonts" as *;

.header-section {
  &__title {
    color: #ef6817;
    padding-left: 1rem;

    @include tablet {
      width: auto;
    }
    @include desktop {
    }
  }
  &__logo {
    width: 60%;
  }
  &__container {
    border-bottom: 3px solid white;
  }
  &__container-btn {
    display: flex;
    max-width: 100%;
    border: none;
    justify-content: space-evenly;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  &__container-left {
    padding-top: 0rem;
  }
  &__container-centre {
    padding-top: 0rem;
  }
  &__container-right {
    padding-top: 0rem;
  }
  .login-btn,
  .sign-up-btn,
  .camera-store-btn {
    background-color: #383838;
    border-radius: 20px;
    width: 6rem;
    height: 2.3rem;
    color: #ef6817;
    border: none;
    font-family: "Unbounded";

    @include tablet {
      width: 10rem;
      font-size: 0.9rem;
    }
    @include desktop {
      width: 20rem;
      height: 3rem;
      font-size: 1.5rem;
    }
  }

  h1 {
    margin-bottom: 0;
    margin-top: 0rem;
  }
}
.login-btn:hover {
  color: #21201f;
  background-color: #ef6817;
  cursor: pointer;
}
.sign-up-btn:hover {
  color: #21201f;
  background-color: #ef6817;
  cursor: pointer;
}
.camera-store-btn:hover {
  color: #21201f;
  background-color: #ef6817;
  cursor: pointer;
}
