@use "../../Styles/partials/variables" as *;
@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/fonts" as *;

.footer-section {
  &__container {
    height: 6rem;
    background-color: #21201f;
    @include tablet {
      height: 7rem;
    }
    @include desktop {
        height: 10rem;
    }
  }
  &__links-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    
    @include desktop {
        padding-top: 1rem;
    }
  }
  
  &__copyright {
    @include tablet {
      padding-top: 1rem;
    }
  }
  &__social-icon {
    @include desktop {
        width: 2rem;
        height: 2rem;
    }
  }
}

.copyright-txt {
  cursor: pointer;
  font-family: "Unbounded";
  font-size: 10px;
  text-decoration: none;
  border-style: none;
  color: white;
  background-color: #21201f;
  padding-top: 0.5rem;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 22px;
  }
 
}
.facebook-symbol {
    height: 2rem;
  }
