.like-button {
    display: block;
    width: 20%;
    background: transparent;
    border: none;
    margin: auto;
    &__container {
        display: flex;
    }
}
.like-icon {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
}
.likes-counter {
    font-size: 25px;
    color: #ef6817;
}